@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url(/Lato-Black.ttf);

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

body{
    padding: 0px;
    margin: 13px 0px;
}

.nav-container{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    margin: 0px;
    flex-wrap: wrap;
}

.ul{
    list-style: none;
}

.nav{
    display: flex;
    /* border: 2px solid black; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    width: 50%;
    padding: 10px;


}

.nav-items>a{
    padding: 0.5em 1.2em;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    color: black;
}

.logo{
    margin: 0px;
    padding: 0.-3em;
    font-family: 'Teko', sans-serif;
    font-size: 2.2em;
}
.logo>span{
    color: orange;
}
.join-now>a{
    background-color: #6674CC;
    border-radius: 4px;
    color: #F6F8FF;
    padding: 0.6em 0.9em;

}

.sign-up>a{
    border: 2px solid #6674CC;
    border-radius: 4px;
    color: #6674CC;
}




/* 

--------------------------------------------------------------------------------------------------

*/


.section1{
    /* border: 2px solid red; */
    height: 80vh;
    display:flex;
    flex-wrap: wrap;
    /* fle  x-direction: column; */
    justify-content: space-around;
    align-items: center;
}

.main-heading{
    
    font-size: 2.5rem;
    font-family: 'Merriweather', serif;
    margin: 0px;
    color: grey;
}

.text{
    /* border: 2px solid black; */
    z-index: 1;
    width: 40vw;
}

.typewrite{
    
    margin: 0px;
    line-height: 0%;
    text-decoration: none;
    color: rgb(51, 47, 47);
    font-size: 2.8rem;
}

.main-para{
    color: rgb(77, 78, 82);
    font-size: 1.1em;
    padding: 12px 2px;
    font-family: 'Lato', sans-serif;
}
.main-img{
    z-index: -1;
    height:80vh;
    
}

.main-button{
    border: 2px solid #6674CC;
    text-decoration: none;
    color: #F6F8FF;
    background-color: #6674CC;
    border-radius: 6px;
    padding: 0.5em 2.1em;
    font-size: 1.1em;

    font-family: 'Lato', sans-serif;
}


/* 

----------------------------------------------

*/

.section2{
    border: 2px solid #6674CC;
    margin: -1.1em 0px;

    display: block;
    /* flex-flow: column; */
 
    justify-content: center;
    padding: 12px 2px;
    font-family: 'Lato', sans-serif;
    color: #F6F8FF;
    background-color: #6674CC;

}

.s2-cmnt{
    text-align: center;
    font-size: 1.2rem;
    /* margin: 0px; */
}



.s2-box-cont{
    margin-top: 2.3em;
    display: flex;
    /* border: 2px solid red; */
    justify-content: space-evenly;
    align-items: center;

}

.s2-boxes{
    padding: 0.2em 1.2em;
    justify-content: center;

}

.s2-para{
    margin: 0px;
    font-size: 1.2em;
}



/* 

----------------------------------------------

*/
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100&display=swap');

.section3{
    /* border: black 2px solid; */
    margin-top: 2rem;

    display: flex;
    /* align-items: center; */
    text-align: center;
    justify-content: center;
    font-size: 1.1rem;
    padding: 4rem 2rem;
}

.s3-h1{
    color: gray;
    font-family: 'Barlow Semi Condensed', sans-serif;

}



.s3-button1>p{
    border: #6674CC 2px solid;
    margin: 0px;
    padding: 0px;
}